<div class="container text-center mt-5" >
    <h1>Cronômetro</h1>
    <div id="stopwatch" class="display-4">00:00:00</div>
    <button id="start" class="btn btn-primary">Iniciar</button>
    <button id="stop" class="btn btn-danger">Parar</button>
    <button id="reset" class="btn btn-secondary">Reiniciar</button>
</div>


<p>Find me in app/views/timers/clock.html.erb</p>
